// ────────────── Output Configuration ──────────────
// Samsung Odyssey OLED G8 G81SF — 32" 4K 240 Hz OLED

output "DP-1" {
    mode "3840x2160@239.996"
    scale 1.3333333333333333
    variable-refresh-rate on-demand=false
}

// Enable VRR for Steam games.
window-rule {
    match app-id=r#"^steam_app_\d+$"#
    variable-refresh-rate true
}
